<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

<style>
  body {
    background-color: #ffe0f7;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
  }

  input::placeholder {
    color: #d3d3d3;
  }

  .submit {
    background-color: #251f44;
  }

  .center-column {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fe91ca;
    border-radius: 10px;
    box-shadow: 6px 2px 30px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
    word-wrap: break-word;
  }

  .item-row {
    background-color: #d3dbff;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #251f44;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px -1px 10px -4px rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
  }

  .btn-danger {
    background-color: #e84a5f;
    border-color: #e59400;
  }
  .cancel{
	  font-size: 20px;
	  text-decoration: none;
  }
</style>

<div class="center-column">
  <p><h5>Are you sure you want to delete:</h5></p><br>
  <h2>"{{item}}"</h2>
  <form method="POST" action="">
    {% csrf_token %}
    <input class="btn-info" type="submit" name="Confirm" />
    <a class="cancel" href="{% url 'list' %}">Cancel</a>
  </form>
</div>
